a{
    text-decoration: none;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    width: 105px;
    z-index: 2;
    color:white;
    font-weight: bold;
}
.indicator{
    width: 105px;
    height: 50px;
    border-radius: 20px;
    background-color: #396B1C;
    position: absolute;
    left: 0px;
    z-index: 1;
    transition: all 0.3s ease;
}
.emailBtn{
    background-color: #A6C88B;
    transition: all 0.3s ease;
}
.emailBtn:hover{
    background-color: #396B1C;
}
a.bigWidth{
    font-weight: 600;
    color: black;
    width: 200px;
}